<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Page title -->
    <title>APPharmacy - Your Online Pharmacy Store</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<section id="top_bar" th:fragment="topBar">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <p class="welcome_text" th:text="'Welcome, ' + ${session?.loggedUser == null ? 'Guest' : session.loggedUser.username}"></p>
            </div>

            <div th:if="${session?.loggedUser == null}" class="col-7 text-right">
                <div class="top_links">
                    <a href="/login">Log in</a>
                </div>
            </div>

            <div th:unless="${session?.loggedUser == null}" class="col-7 text-right">
                <div class="top_links">
                    <a href="/admin" style="margin-right: 5px;">Admin Panel</a>
                    |
                    <a href="/login?logout=true" style="margin-left: 5px;">Logout</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="navigation" th:fragment="navigation(searchedCategoryId)">
    <nav class="container navbar navbar-light bg-white justify-content-between">
        <a href="/" class="navbar-brand">
            <img th:src="@{/images/logo.png}">
        </a>
        <form class="form-inline" method="get" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Insert your product..." aria-label="Search" name="name" />
            <input type="hidden" name="category" th:value="${searchedCategoryId}"/>
            <!-- <a href="#" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</a> -->
        </form>
        <div class="basket">
            <a href="/checkout">
                <img th:src="@{/images/basket.png}">
                <div class="basket_quantity">
                    $
                </div>
            </a>
        </div>
    </nav>
</section>

<section id="promo" th:fragment="promo">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 promo_left">
                <h1>Online is easier</h1>
                <p>Browse through our pharmacy products. Get informed. Buy! Go with the generated code in our pharmacy and we will take care of the rest! Easy!</p>
                <a href="#" class="white_button button">Shop Now</a>
            </div>

            <div class="col-lg-6 promo_right">
                <img th:src="@{/images/macbook.png}" class="img-fluid" alt="macbook">
            </div>
        </div>
    </div>
</section>

<section id="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <small>Copyright © APP 2018. All rights reserved.</small>
            </div>

            <div class="col text-right">
                <img th:src="@{/images/paypal.png}" class="img-fluid" alt="PayPal">
            </div>
        </div>
    </div>
</section>

<section id="categories" class="left_categories" th:fragment="leftCategories">
    <div class="container-fluid">
        <div class="row">

            <div id="open_categories">
                <i class="fas fa-bars" style="color: #ffffff !important;"></i>
            </div>

            <div class="col-lg-6 categories_box">
                <h4>Categories</h4>

                <div class="row most_important_categories">
                    <a href="#" class="col m-3 important_category">
                        <img th:src="@{/images/health_care.png}">
                        <h6>Health Care</h6>
                    </a>

                    <a href="#" class="col m-3 important_category">
                        <img th:src="@{/images/skin_care.png}">
                        <h6>Skin Care</h6>
                    </a>

                    <a href="#" class="col m-3 important_category">
                        <img th:src="@{/images/baby_care.png}">
                        <h6>Baby Care</h6>
                    </a>

                    <a href="#" class="col m-3 important_category">
                        <img th:src="@{/images/organic_tea.png}">
                        <h6>Organic Tea</h6>
                    </a>
                </div>

                <div class="row all_categories">
                    <ul class="all_categories_list">
                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/body_care.png}">
                                <small>Body Care</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/diet_nutrition.png}">
                                <small>Diet & Nutrition</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/protein.png}">
                                <small>Protein</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/personal_care.png}">
                                <small>Personal Care</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/oral_care.png}">
                                <small>Oral Care</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/hair_care.png}">
                                <small>Hair Care</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/mental_care.png}">
                                <small>Mental Care</small>
                            </a>
                        </li>

                        <li class="category">
                            <a href="#">
                                <img th:src="@{/images/tea.png}">
                                <small>Tea</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:fragment="jsIncludes">
    <!-- Javascript scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Generating some jQuery scripts -->

    <script>
        $(document).ready(function() {
            $('.important_category').each(function() {
                $(this).hover(function() {
                    $(this).siblings().css('opacity', '.2');
                }, function() {
                    $(this).siblings().css('opacity', '1');
                });
            });
        });

        $('#open_categories').click(function() {
            $('.categories_box').toggle();
        });
    </script>
</div>
</html>