/* Import Poppins font */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

:root {
	font-size: 16px;
}

* {
	font-family: 'Poppins', sans-serif;
	/*color: #2f3542;*/
}

i {
	color: #ffffff !important;
}

body {
	background: #f8f8f8;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 { color: #2f3542; padding: 0; margin: 0;}

a:link,
a:visited,
a:hover {
	text-decoration: none;
	color: #2f3542;
}

a:hover {
	color: #0f1219;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

form input {
	padding: 1rem;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .1);
	display: block;
	width: 100%;
}

/* Main elements (like buttons, paragraphs, headlines) */

.button {
	border: none;
	border-radius: 50px;
	font-size: 1rem;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

.blue_button {
	background: linear-gradient(45deg, #3887f5, #1a47b9);
	background: -webkit-linear-gradient(45deg, #3887f5, #1a47b9);
	background: -moz-linear-gradient(45deg, #3887f5, #1a47b9);
	color: #ffffff;
	display: inline-block;
	margin-top: 1rem;
}

.white_button {
	background: #ffffff;
	color: #2f3542;
}

.blue_button:hover {
	background: linear-gradient(45deg, #1a47b9, #3887f5);
	background: -webkit-linear-gradient(45deg, #1a47b9, #3887f5);
	background: -moz-linear-gradient(45deg, #1a47b9, #3887f5);
}

.section_headline {
	font-weight: 300;
	font-size: 2.25rem;
	float: left;
	position: relative;
}

.section_see_all {
	float: right;
	text-transform: uppercase;
	letter-spacing: 40;
	font-weight: 600;
	font-size: 1.125rem;
	padding-top: 1rem;
}

.section_see_all:link,
.section_see_all:visited,
.section_see_all:hover {
	color: #2e80ec;
}

.section_header {
	width: 100%;
	padding: 2rem 1rem;
	display: block !important;	
}

/* Top bar */

#top_bar {
	background-color: #2e80ec;
	padding: 1rem 0 0 0;
	color: #ffffff !important;
	font-size: 0.875rem;
}

.welcome_text {
	color: #ffffff !important;
}

.top_links {
	text-transform: uppercase;
	color: #ffffff !important;
	font-weight: 600;
}

.top_links a:link,
.top_links a:visited,
.top_links a:hover {
	color: #ffffff !important;
}

/* End of top bar */

/* Navigation */

#navigation {
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.form-inline {
	padding: 2rem;
	width: 50%;
}


.form-control {
	width: 100% !important;
	font-size: 1rem;
	font-weight: 300;
	background: url(../images/search.png) no-repeat;
	background-position: 95%;
}

.form-control,
.btn {
	padding: 1rem;
}

.form-control::placeholder {
	color: #83858b;
}

.basket_quantity {
	display: inline-block;
	border-radius: 50%;
	padding-top: .15rem;
	width: 1.75rem;
	height: 1.75rem;
	text-align: center;
	box-sizing: border-box;
	background-color: #2f3542;
	color: #ffffff;
}

/* End of navigation */

/* Hero */

/*#hero .row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
*/
#hero .row {
	overflow: hidden;
}

#hero {
	margin-top: 1rem;
}

/*#hero { padding-left: 3rem !important; box-sizing: border-box !important; }*/

.categories_box {
	margin-top: 1.5rem;
	padding: 2.5rem 1.875rem 1.5rem 1.875rem;
	box-sizing: border-box !important;
	border-radius: 3px;
	background: linear-gradient(45deg, #1a47b9, #3887f5);
	/*background-position: -9999px !important;*/
	color: #ffffff !important;
}

.categories_box h4 {
	color: #ffffff !important;
}

.most_important_categories {
	padding-top: 1.5rem;
}

.important_category {
	background: #ffffff;
	border-radius: 5px;
	text-align: center;
	padding: 2rem !important;
	box-sizing: border-box; 
	/*display: block;*/
}

.important_category h6 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.875rem;
	letter-spacing: .1rem;
	padding-top: 1rem;
}

.all_categories {
	padding: 1rem;
	box-sizing: border-box;
}

.all_categories ul li {
	margin-top: 1rem;
}

.all_categories ul li:first-child {
	margin-top: 0;
	padding-top: 0;
}

.all_categories_list .category a img {
	opacity: .7;
} 

.all_categories_list .category a:link,
.all_categories_list .category a:visited,
.all_categories_list .category small {
	color: rgba(255, 255, 255, .8) !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.all_categories_list .category a:hover small {
	color: #ffffff !important;
	font-weight: 600;
}

.all_categories_list .category a:hover img {
	opacity: 1;
}


.all_categories_list .category small {
	margin-left: .5rem;
}


.coupon_hero {
	margin-top: 1.5rem;
	box-sizing: border-box !important;
	/*background: #000;*/
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: url(../images/coupon_hero.png);
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

.coupon_hero_container {
	position: relative;
	padding: 50% 0;
}

.coupon_hero h1 {
	font-size: 3rem;
	font-weight: 600;
}

.coupon_hero h1,
.coupon_hero h6 {
	color: #ffffff;
	text-shadow: 3px 0px 10px rgba(0, 0, 0, .8) !important;
}

.coupon_hero h6 {
	padding-top: 1rem;
}

.coupon_hero h6 span {
	background-color: #ffffff;
	text-shadow: 0 0 0;
	padding: .3rem .5rem;
	border-radius: 3px;
	font-weight: 600;
}

/* End of hero */

/* Product elements */

.product_box {
	text-align: center;
	box-sizing: border-box;
	padding: 2.5rem 1.25rem !important;
	box-shadow: 0px 6px 8px rgba(0, 0, 0, .05);
	background: #ffffff;
}

.blue_button:link,
.blue_button:visited,
.blue_button:hover {
	color: #ffffff;
}

.product_name {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5rem;
	padding-bottom: 1.5rem;
}

.product_description,
.product_servings {
	color: #83858b;
	font-size: 1rem;
	line-height: 1.625rem;
}

.product_description {
	min-height: 8rem;
	max-height: 8rem;
}

.product_price {
	font-weight: 600;
}

/* End of product elements */

/* Start of promo */

#promo {
	margin: 3.75rem;
	box-sizing: border-box !important;
}

#promo .container {
	border-radius: 0.3125rem;
	background: linear-gradient(45deg, #1a47b9, #3887f5);
	background: -webkit-linear-gradient(45deg, #1a47b9, #3887f5);
	background: -moz-linear-gradient(45deg, #1a47b9, #3887f5);
	color: #ffffff;
	box-shadow: 0px 6px 8px rgba(0, 0, 0, .1);
}

#promo p,
#promo h1 {
	color: #ffffff;
	padding-bottom: 1.5rem;
}

.promo_left {
	padding: 6.25rem 0;
}

.promo_right {
	background: #ffffff !important;
	border-bottom-left-radius: 20rem;
	padding: 3.125rem 0 0 0;
}

/* End of promo */

/* Start of footer */

#footer {
	padding-bottom: 2rem;
}

/* End of footer */

/* -------------- Product Page -------------- */

/* Categories */

.left_categories {
	position: absolute;
	z-index: 999;
}

.left_categories .categories_box {
	margin-top: 2rem;
	display: none;
}

#open_categories {
	margin: 2rem 0;
	padding: 1.5rem;
	border-radius: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: linear-gradient(150deg, #3887f5, #1a47b9);
	background: -webkit-linear-gradient(150deg, #3887f5, #1a47b9);
	background: -moz-linear-gradient(150deg, #3887f5, #1a47b9);
	height: 4rem;
	/*color: #ffffff !important;*/
	cursor: pointer;
}

.fa-bars {
	color: #ffffff !important;
}

.fas {
	color: #ffffff !important;
}

/* End of Categories */

/* Start of product */

.product_container,
.search_results_container,
.login_container,
.signup_container,
.cart_container {
	background: #ffffff;
	/*border: 1px solid rgba(0, 0, 0, .1);*/
	padding: 3rem;
	margin: 2rem auto;
	box-shadow: 0px 6px 8px rgba(0, 0, 0, .05);
	box-sizing: border-box; 
}

.product_title {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.recommended_for {
	margin-bottom: 2rem !important;
}

.product_stock {
	margin-left: 1rem;
}

.recommended_for li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.875rem;
	background: #2ecc71;
	border-radius: 100px;
	padding: .3rem 1rem;
	color: #ffffff;
	font-weight: 600;
	/*border: 1px solid rgba(0, 0, 0, .1) !important;*/
}


/* -------------- Search results page -------------- */

.search_results_container .row,
.cart_container .row {
	padding-bottom: 1rem;
	padding-top: 1.5rem;
}

.search_results_headline h3,
.cart_container_headline h3 {
	padding-bottom: 2rem;
	padding-left: 2rem;
}


/* -------------- Login page -------------- */

.login_container {
	padding: 0;
}

.login_container h3,
.signup_container h3 {
	margin-bottom: 2rem;
}

.login_container input,
.signup_container input {
	margin-top: 1rem;
}

.login_left {
	padding: 3rem;
}

.login_container .button,
.signup_container .button {
	border-radius: 3px;
	padding: 1rem;
}

.login_right {
	border-bottom-left-radius: 20rem;
	padding: 9rem 0;
	/*padding: 0rem 0 0 5rem;*/
	padding-left: 10rem;
	color: #ffffff !important;
	background: linear-gradient(45deg, #3887f5, #1a47b9);
	background: -webkit-linear-gradient(45deg, #3887f5, #1a47b9);
	background: -moz-linear-gradient(45deg, #3887f5, #1a47b9);
	box-sizing: border-box !important;
}

.login_right h3 {
	color: #ffffff !important;
}

.login_right a:link, 
.login_right a:hover,
.login_right a:visited {
	color: #ffffff !important;
	font-weight: 600;
}



.input_info {
	text-transform: uppercase;
	font-weight: 600;
}

.signup_right a:link,
.signup_right a:hover,
.signup_right a:visited {
	font-weight: 600;
	color: #3887f5;
}



.cart_container .product_price,
.cart_container .product_quantity,
.cart_container .product_remove {
	display: inline-block;
	padding-right: 2rem;
}

.cart_container .product_remove {
	font-weight: 600;
	color: #e74c3c;
}






/* Some mobile custom css */

@media (max-width: 990px) {

	:root {
		font-size: 14px;
	}

	.promo_right,
	.login_right {
		border-bottom-left-radius: 0;
		border-top-left-radius: 20rem;
	}	

	.promo_left {
		padding: 3rem;
	}

	.login_right {
		padding: 6rem auto;
	}
}

@media (max-width: 765px) {
	.form-inline {
		width: 30em !important;
		padding: 2rem 0;
	}

	.form-inline input {
		width: 100% !important;
	}

	.navbar-brand {
		padding-top: 2rem;
	}

	.basket {
		margin: 0 auto;
		padding-bottom: 2rem;
	}

	#promo {
		margin: 3.75rem 1rem !important;
		/*padding: 0;*/
	}
}

@media (max-width: 320px) {
	:root {
		font-size: 11px;
	}
}
/* only new adds */

input.product_title {
	font-size: 1em;
}

form select,
form textarea {
	padding: 1rem;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .1);
	display: block;
	width: 100%;
}

select {
	appearance: none !important;	
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: transparent url(../images/down_arrow.png) no-repeat right 1rem center;
}

select.product_stock {
	margin-left: 0;
}

/* only new adds */

#sidebar_wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #2f3542;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  padding: 2rem;
}

#page_content_wrapper {
  width: 100%;
}

.sidebar_nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  color: #ffffff !important;
}

.sidebar_nav h5 {
	color: #ffffff !important;
}

.sidebar_nav a:link,
.sidebar_nav a:visited,
.sidebar_nav a:hover {
	color: #ffffff;
}

#admin_panel {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

.admin_panel_content_wrapper {
	padding-top: 3rem;
}


@media (max-width:767px) {
	#admin_panel {
		padding-left: 0;
	}

	#sidebar_wrapper {
		left: 0;
	}

	#admin_panel.active {
		position: relative;
		left: 250px;
	}

	#admin_panel.active #sidebar_wrapper {
		left: 250px;
		width: 250px;
		transition: all 0.4s ease 0s;
	}
}

.boxes_wrapper .card {
	display: inline-block !important;
	margin-right: 1rem;
}