<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Page title -->
	<title>APPharmacy - Admin Panel</title>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- FontAwesome SVG icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
	<!-- <section id="top_bar" style="background-color: #ff4757 !important;">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="welcome_text">My Admin Control Panel!</p>
				</div>
			</div>
		</div>
	</section>

	<section id="navigation" style="padding: 1rem;">
		<nav class="container navbar navbar-light bg-white justify-content-between">
			<a href="index.html" class="navbar-brand">
				<img src="images/logo.png">
			</a>
		</nav>
	</section>
 -->
	<section id="admin_panel">
		<div class="container_fluid admin_panel_container">
			<div id="sidebar_wrapper">
				<ul class="sidebar_nav">
					<h5>My ACP</h5> <br />
      				<li class="sidebar_brand"><a href="/">Home</a></li>
      				<li class="sidebar_brand"><a href="/product/add">Add product</a></li>
				</ul>
			</div>

			<div class="admin_panel_content_wrapper">
				<div class="admin_panel_content">
					<div class="container">

						<!-- Where reports are generated -->
						
						<div class="row">
							<div class="col-lg-12">
								<h1 class="product_title">Reports</h1>
								
								<hr>

								<div class="boxes_wrapper" style="margin-top: 2rem;">
									<div class="card" style="width: 16rem; background-color: #2ed573; border: 0 !important; padding: 2rem; color: #ffffff !important;">
										<h1 style="color: #ffffff !important;">
											<strong th:text="${report.day}"></strong>
										</h1>
										<small>SOLD THIS DAY</small>
									</div>

									<div class="card" style="width: 16rem; background-color: #ff7f50; border: 0 !important; padding: 2rem; color: #ffffff !important;">
										<h1 style="color: #ffffff !important;">
                                            <strong th:text="${report.week}"></strong>
										</h1>
										<small>SOLD THIS WEEK</small>
									</div>

									<div class="card" style="width: 16em; background-color: #1e90ff; border: 0 !important; padding: 2rem; color: #ffffff !important;">
										<h1 style="color: #ffffff !important;">
                                            <strong th:text="${report.month}"></strong>
										</h1>
										<small>SOLD THIS MONTH</small>
									</div>

									<div class="card" style="width: 16rem; background-color: #5352ed; border: 0 !important; padding: 2rem; color: #ffffff !important;">
										<h1 style="color: #ffffff !important;">
                                            <strong th:text="${report.year}"></strong>
										</h1>
										<small>SOLD THIS YEAR</small>
									</div>
								</div>
							</div>
						</div>

						<!-- Where discount code begins -->
						
						<div class="row" style="margin-top: 3rem;">
							<div class="col-lg-12">
								<h1 class="product_title">Create a coupon</h1>
								
								<hr>

								<form action="/coupon" th:object="${coupon}" method="post" style="margin-top: 3rem;">
									<input type="text" th:field="*{code}" placeholder="Insert your coupon code">
                                    <br>
									<input type="number" th:field="*{discount}" placeholder="Insert your discount percentage">
									<input type="submit" class="button blue_button" value="Apply discount code">
								</form>

							</div>
						</div>

						<!-- Where import file begins -->
						
						<div class="row" style="margin-top: 3rem;">
							<div class="col-lg-12">
								<h1 class="product_title">Import .csv file</h1>
								
								<hr>

								<form action="/admin" enctype="multipart/form-data" method="post" style="margin-top: 3rem;">
									<input type="file" name="file">
									<input type="submit" name="import_csv" class="button blue_button" value="Import .csv file">
								</form>

							</div>
						</div>

						<!-- here starts footer. you can eliminate it if it causes troubles -->

						<div class="row" style="margin-top: 5rem;">
							<div class="col">
								<small>Copyright © APP 2018. All rights reserved.</small>
							</div>

							<div class="col text-right">
								<img src="images/paypal.png" class="img-fluid" alt="PayPal">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="footer">
		<div class="container">
		</div>
	</section>

	<!-- Javascript scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Generating some jQuery scripts -->

	<script>
		$(document).ready(function() {
			$('.important_category').each(function() {
				$(this).hover(function() {
					$(this).siblings().css('opacity', '.2');
				}, function() {
					$(this).siblings().css('opacity', '1');
				});
			});

			$('#open_categories').click(function() {
				$('.categories_box').toggle();
			});
		});
	</script>
</body>
</html>