<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/template :: header"></head>
<body>
<section th:replace="components/template :: topBar"></section>
<section th:replace="components/template :: navigation('')"></section>

	<section id="cart_information">
		<div class="container cart_container">

			<div class="row cart_container_headline">
				<h3>My order details</h3>
			</div>

			<div class="row">
				<div class="col-lg-6 offset-lg-1">
					Order total: <span th:text="${totalPrice}"></span> LEI <br/>
					<p class="product_description">Free shipping</p>
				</div>

				<div class="col-lg-4 text-right">
					Order code: <span th:text="${code}"></span>
				</div>
			</div>
		</div>
	</section>

<section th:replace="components/template :: footer"></section>
<div th:replace="components/template :: jsIncludes"></div>
</body>
</html>