<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/template :: header"></head>
<body>
<section th:replace="components/template :: topBar"></section>
<section th:replace="components/template :: navigation('')"></section>

	<section id="cart_information">
		<div class="container cart_container">

			<div class="row cart_container_headline">
				<h3>My shopping cart</h3>
			</div>

            <div th:each="product : ${products.keySet()}">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="images/product1.png" alt="Product1" class="img-fluid" />
                    </div>

                    <div class="col-lg-9">
                        <h3 class="product_name"><a href="#" th:text="${product.getName()}"></a></h3>

                        <p class="product_description" th:text="${product.getDescription()}"></p>

                        <p class="product_price" th:text="${product.getPrice()}"></p>
                        <p class="product_quantity" th:text="'Quantity: ' + ${products.get(product)}"></p>
                        <form th:action="'/checkout/remove/' + ${product.getId()}" method="post">
                            <input type="submit" class="button blue_button offset-8 col-4" value="Remove">
                        </form>
                    </div>
                </div>

                <hr>
            </div>

			<div class="row">
				<div class="col-lg-6 offset-lg-1">
					Order total: <span th:text="${totalPrice}"></span> LEI <br/>
					<p class="product_description">Free shipping</p>
				</div>

				<form class="col-lg-4 text-right" action="/checkout/finalize" method="get">
                    <input type="text" name="couponCode" placeholder="Coupon id goes here">
                    <input type="submit" class="button blue_button" value="Proceed with Order"/>
				</form>
			</div>
		</div>
	</section>

<section th:replace="components/template :: footer"></section>
<div th:replace="components/template :: jsIncludes"></div>
</body>
</html>