<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Page title -->
	<title>APPharmacy - Your Online Pharmacy Store</title>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- FontAwesome SVG icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>

	<section id="navigation" style="padding: 2rem;">
		<nav class="container navbar navbar-light bg-white justify-content-between">
			<a href="/" class="navbar-brand">
				<img src="/images/logo.png">
			</a>
		</nav>
	</section>

	<section id="error">
		<div class="container error_container">
			<div class="row">

				<div class="col-lg-4" style="padding: 5rem 2rem;">
					<h2>Say whaaat?</h2> 
					<br />
					<p stlye="padding-top: 10px; !important"><strong>Error!</strong> Something went wrong.</p>
					<code th:text="${error}"></code>
				</div>

				<div class="col-lg-7 offset-lg-1">
					<img src="/images/404.png" class="img-fluid">
				</div>
			</div>
		</div>
	</section>

	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<small>Copyright © APP 2018. All rights reserved.</small>
				</div>

				<!-- <div class="col text-right">
					<img src="images/paypal.png" class="img-fluid" alt="PayPal">
				</div> -->
			</div>
		</div>
	</section>

	<!-- Javascript scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Generating some jQuery scripts -->

	<script>
		$(document).ready(function() {
			$('.important_category').each(function() {
				$(this).hover(function() {
					$(this).siblings().css('opacity', '.2');
				}, function() {
					$(this).siblings().css('opacity', '1');
				});
			});

			$('#open_categories').click(function() {
				$('.categories_box').toggle();
			});
		});
	</script>
</body>
</html>