<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/template :: header"></head>
<body>
<section th:replace="components/template :: topBar"></section>
<section th:replace="components/template :: navigation('')"></section>
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-3 categories_box">
                <h4>Categories</h4>

                <div class="row most_important_categories">
                    <a th:href="'/search?name=&category=' + ${categories.get(0).getId()}" class="col m-3 important_category">
                        <img th:src="@{/images/health_care.png}">
                        <h6 th:text="${categories.get(0).getName()}">cat1_name_ph</h6>
                    </a>

                    <a th:href="'/search?name=&category=' + ${categories.get(1).getId()}" class="col m-3 important_category">
                        <img th:src="@{/images/skin_care.png}">
                        <h6 th:text="${categories.get(1).getName()}">cat2_name_ph</h6>
                    </a>

                    <a th:href="'/search?name=&category=' + ${categories.get(2).getId()}" class="col m-3 important_category">
                        <img th:src="@{/images/baby_care.png}">
                        <h6 th:text="${categories.get(2).getName()}">cat3_name_ph</h6>
                    </a>

                    <a th:href="'/search?name=&category=' + ${categories.get(3).getId()}" class="col m-3 important_category">
                        <img th:src="@{/images/organic_tea.png}">
                        <h6 th:text="${categories.get(3).getName()}">cat4_name_ph</h6>
                    </a>
                </div>

                <div class="row all_categories">
                    <ul class="all_categories_list">
                        <li class="category" th:each="category : ${categories.subList(4, categories.size())}">
                            <a th:href="'/search?name=&category=' + ${category.getId()}">
                                <img th:src="@{/images/body_care.png}">
                                <small th:text="${category.getName()}">cat_name_ph</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col m-3 coupon_hero">
                <div class="coupon_hero_container">
                    <h1>Save 15% On Your <br> Total Order!</h1>
                    <h6>Use <span style="color: #2f3542 !important;">APPX15T</span> coupon code.</h6>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="most_viewed">
    <div class="container">
        <div class="row">
            <div class="section_header">
                <h1 class="section_headline">Most Viewed</h1>
                <a href="#" class="section_see_all">See all</a>
            </div>
            <div class="row" th:each="i : ${#numbers.sequence(0, mostViewedProductsRows - 1)}">
                <div class="col-lg m-3 product_box " th:each="product : ${mostViewedProducts.subList(i * 4, i * 4 + 4)}">
                    <div class="product_content">
                        <a href="product.html" th:href="'/product/' + ${product.getId()}">
                            <img th:src="@{images/product1.png}" class="img-fluid">
                            <h3 class="product_name"><a href="#" th:text="${product.getName()}">product name</a></h3>
                        </a>
                        <p class="product_description" th:text="${product.getDescription()}">product desc</p>
                        <p class="product_price" th:text="${product.getPrice()} + ' LEI'">Price: 27 LEI</p>

                        <form th:action="'/checkout/add/' + ${product.getId()}" method="post" >
                            <input class="blue_button button" type="submit" value="Add to cart"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:replace="components/template :: promo"></section>
<section th:replace="components/template :: footer"></section>
<div th:replace="components/template :: jsIncludes"></div>
</body>
</html>