<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/template :: header"></head>
<body>
<section th:replace="components/template :: topBar"></section>
<section th:replace="components/template :: navigation('')"></section>

	<section id="product">
		<div class="container product_container">
			<div class="row">
				<div class="col m-3">
					<div class="product_images">
						<img th:src="@{/images/product2.png}" class="img-fluid" />
					</div>
				</div>

				<div class="col-lg-8">
					<!-- NEW EDITS ONLY -->
					<form id="edit_product_form" th:object="${product}" method="post" action="/product/add">
						
						<label for="name"> Product Title </label>
						<input type="text" th:field="*{name}" class="product_title" placeholder="Product title" />

						<label for="category">Category</label>
						<select class="recommended_for" th:field="*{category}">
							<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
						</select>

						<label for="product_description"> Description </label>
						<textarea rows="10" th:field="*{description}" class="product_description"></textarea>
						
						<br />
						<label for="price">Price</label>
						<input type="number" th:field="*{price}" class="product_price" />
						
						<br />
                        <label for="stock">Stock</label>
                        <input type="number" th:field="*{stock}" class="product_price" />

						<br />
                        <label for="producer">Stock</label>
                        <input type="text" th:field="*{producer}" class="product_price" placeholder="Producer name" />

						<hr />

						<input type="submit" id="edit_product" name="edit_product" class="blue_button button" value="SAVE" />
					</form>
				</div>
			</div>
		</div>
	</section>

<section th:replace="components/template :: footer"></section>
<div th:replace="components/template :: jsIncludes"></div>
</body>
</html>