<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/template :: header"></head>
<body>
<section th:replace="components/template :: topBar"></section>
<section th:replace="components/template :: navigation('')"></section>
<section th:replace="components/template :: leftCategories"></section>

	<section id="product">
		<div class="container product_container">
			<div class="row">
				<div class="col m-3">
					<div class="product_images">
						<!-- <ul>
							<li class="product_image"><img src=".." class="img-fluid"></li>
						</ul> -->
						<img th:src="@{/images/product1.png}" class="img-fluid">
					</div>
				</div>

				<div class="col-lg-8">
					<h1 class="product_title" th:text="${product.getName()}">title</h1>

					<ul class="recommended_for">
						<li th:text="${product.category.getName()}">category</li>
					</ul>

					<p class="product_description" th:text="${product.getDescription()}">
					    desc
					</p>
					<p class="product_price" th:text="${product.getPrice()} + ' LEI'">price</p>
						
					<hr>

                    <form th:action="'/checkout/add/' + ${product.getId()}" method="post" >
                        <input class="blue_button button" type="submit" value="Add to cart"/>
                    </form>

                    <form th:if="${session?.loggedUser != null}" th:action="'/product/refill/' + ${product.getId()}" method="post" >
                        <input class="blue_button button" type="submit" value="Refill stock"/>
                    </form>

                    <form th:if="${session?.loggedUser != null}" th:action="'/product/delete/' + ${product.getId()}" method="post" >
                        <input class="blue_button button" type="submit" value="Delete"/>
                    </form>
					
					<small class="product_stock">
						<img th:src="@{/images/in-stock.png}" class="img-fluid" alt="In stock">
						In stock: <span th:text="${product.getStock()}"></span>
					</small>
				</div>
			</div>
		</div>
	</section>

<section th:replace="components/template :: footer"></section>
<div th:replace="components/template :: jsIncludes"></div>
</body>
</html>