<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/template :: header"></head>
<body>
<section th:replace="components/template :: topBar"></section>
<section th:replace="components/template :: navigation(${searchedCategory == null ? '' : searchedCategory.getId()})"></section>

	<section id="categories" class="left_categories">
		<div class="container-fluid">
			<div class="row">

				<div id="open_categories">
					<i class="fas fa-bars" style="color: #ffffff !important;"></i>
				</div>

				<div class="col-lg-6 categories_box">
					<h4>Categories</h4>

					<div class="row most_important_categories">
						<a href="#" class="col m-3 important_category">
							<img src="images/health_care.png">
							<h6>Health Care</h6>
						</a>

						<a href="#" class="col m-3 important_category">
							<img src="images/skin_care.png">
							<h6>Skin Care</h6>
						</a>

						<a href="#" class="col m-3 important_category">
							<img src="images/baby_care.png">
							<h6>Baby Care</h6>
						</a>

						<a href="#" class="col m-3 important_category">
							<img src="images/organic_tea.png">
							<h6>Organic Tea</h6>
						</a>
					</div>

					<div class="row all_categories">
						<ul class="all_categories_list">
							<li class="category">
								<a href="#">
									<img src="images/body_care.png">
									<small>Body Care</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/diet_nutrition.png">
									<small>Diet & Nutrition</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/protein.png">
									<small>Protein</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/personal_care.png">
									<small>Personal Care</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/oral_care.png">
									<small>Oral Care</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/hair_care.png">
									<small>Hair Care</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/mental_care.png">
									<small>Mental Care</small>
								</a>
							</li>

							<li class="category">
								<a href="#">
									<img src="images/tea.png">
									<small>Tea</small>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="search_results">
		<div class="container search_results_container">

			<div class="row search_results_headline">
				<h3>Search results <span th:if="${searchedName.length() > 1}" th:utext="'for: <strong>' + ${searchedName} + '</strong>'">search_ph</span> <span th:if="${searchedCategory != null}" th:utext="' in category: <strong>' + ${searchedCategory.getName()} + '</strong>'"></span></h3>
			</div>

            <div th:each="product : ${products.subList(0, products.size() > 10 ? 10 : products.size())}">
                <a th:href="'/product/' + ${product.getId()}">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/product1.png" alt="Product" class="img-fluid" />
                        </div>

                        <div class="col-lg-9">
                            <h3 class="product_name" th:text="${product.getName()}">product_name_ph</h3>

                            <p class="product_description" th:text="${product.getDescription()}">product_description_ph</p>
                            <p class="product_price" th:text="'Price: ' + ${product.getPrice()} + ' LEI'">product_price_ph</p>

                            <form th:action="'/checkout/add/' + ${product.getId()}" method="post" >
                                <input class="blue_button button" type="submit" value="Add to cart"/>
                            </form>
                        </div>
                    </div>
                </a>

                <hr>
            </div>

			<small>
				Not what you are looking for? 
				<strong>
					<a href="#">Contact Us!</a>
				</strong>
			</small>
		</div>
	</section>

<section th:replace="components/template :: footer"></section>
<div th:replace="components/template :: jsIncludes"></div>
</body>
</html>